

@media only screen and (max-width: 1060px) {
  .nav{
      display: none;
      
  }
  span{
      background: none;
      border: none;
    
  }
  .nav2{
      background-color: white;
      width: 100%;
      margin: 0;
      display: flex;
      flex-direction: column;
      
  }
  .nav2 li{
      list-style-type: none;
      margin: 1em;
  }
}



@media only screen and (min-width: 1056px) {
  nav button{
      display: none;
  }
  .nav{
      display: flex;   
      list-style: none;
      margin-right: 15%;
      justify-content: right;

  }

  .navcontainer{
      display: none;
  }

  span{
      display: none;
  }
  .nav2{
      display: none;
      
  }
  .nav2 li{
      display: none;
  }

}



.uitklapuit {
  visibility: hidden;
  opacity: 0;
  height: 0;
  
}

.uitklapaan {
  transition: .2s;
  transform: translateY(-0.3em);
  visibility: visible;
  opacity: 1;
  width: 100%;
}




html {
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  font-family:Poppins;
}
h1{
  font-size: 50px;
  font-family:Audiowide;
}
p{
  font-size: 24px;
}
nav{
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #fff;
  width: 100%;
  z-index: 1;
}

nav img{
  width: 35px;

}
.logo {
  margin-left: 10%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 35px;
}

header a{
  margin: 15px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
header a:hover{
  color: #000;
}

.about-area, .port-area, .contact-area{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.text-part{
  width: 65%;
  height: 80%;
}
.about-area{
  background-color: #262626;
  color: #fff;
}
.port-area{
  background-color: #fefefe;
}
.contact-area{
  background-color: #262626;
  color: #fff;

}

.text-part p{
  padding-bottom: 1em;
}

.text-part h1{
  padding-top: 1.5em;
}

.video{
  height: 35%;
  width: 35%;
}

img{ 
  width: 100%;
}